#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.competitor-card {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  background-color:rgb(57, 55, 52);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

}

.avatar-wrapper {
  /* border-radius: 10px; */
  /* overflow: hidden; */
  border: 1px solid orange;
  color: rgb(234, 68, 68);
  /* padding: 20px; */
  text-align: center;
}

.name{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  
}
.bio{
  font-size: 1rem;
  border: 1px solid orange;
  color: white;
  text-align:left;
}
.badge-name{
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  text-align:justify;
  text-transform: uppercase;
}

.badges-area{
  display: flex;
  flex-direction: row;
  width: 600px;
  /* flex-wrap: wrap; */
  justify-content: center;
  border: 1px solid orange;
  padding: 20px;
}

.badge-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
  /* padding: 20px; */
  /* margin: 10px; */
  width:200px;
  height: 200px;;
  border-radius: 20px;
}

.stats-wrapper{
  flex: 1;
  border: 1px solid orange;
}

.ratio-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid orange;
  /* padding: 20px; */

}